In [56]:
# import packages
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib
import random as rd
%matplotlib inline

In [100]:
data = pd.read_csv('data_prepared.csv', encoding='cp1252')
original_size = len(data)

data = data.replace(',','', regex=True)

In [101]:
data.describe()

              Year  Beats Per Minute (BPM)  ...  Speechiness   Popularity
count  1881.000000             1881.000000  ...  1881.000000  1881.000000
mean   1992.675704              120.284423  ...     4.884636    59.569378
std      16.094372               27.956300  ...     4.188508    14.283028
min    1956.000000               37.000000  ...     2.000000    11.000000
25%    1979.000000               99.000000  ...     3.000000    50.000000
50%    1993.000000              119.000000  ...     4.000000    62.000000
75%    2007.000000              136.000000  ...     5.000000    71.000000
max    2019.000000              206.000000  ...    55.000000   100.000000

[8 rows x 10 columns]

In [132]:
#taking all features after Year to run K means on
X = data.iloc[:, 4:9].values
X = X.astype(float)

array([[157.,  30.,  53., -14.,  11.],
       [135.,  79.,  50., -11.,  17.],
       [168.,  69.,  66.,  -9.,   7.],
       ...,
       [175.,  76.,  36.,  -8.,  76.],
       [168.,  80.,  53.,  -9.,  31.],
       [133.,  50.,  49., -10.,  16.]])

In [133]:
rows=X.shape[0] 
features=X.shape[1] 

#How to know how many iterations we will need?
n_iter=100

In [134]:
K=20 # number of clusters

Centroids=np.zeros((features, K)) 

# Choosing random cluster centers and storing them into Centroids
for i in range(features):
  for j in range(K):
    rand=rd.randint(0,rows-1)
    Centroids[i][j]=X[rand][i]

for i in range(n_iter):

  # Calculate Euclidian distance for from each point to each centroid
  Output={}
  EuclidianDistance=np.array([]).reshape(m,0)

  for k in range(K):
    tempDist=np.sum((X-Centroids[:,k])**2,axis=1)
    EuclidianDistance=np.c_[EuclidianDistance,tempDist]
  C=np.argmin(EuclidianDistance,axis=1)+1

  # Regroup the data points based on the cluster index C and store in 
  # the Output dictionary and also compute the mean of separated clusters 
  # and assign it as new centroids
  Y={}
  for k in range(K):
      Y[k+1]=np.array([]).reshape(features,0)
  for i in range(rows):
      Y[C[i]]=np.c_[Y[C[i]],X[i]]
      
  for k in range(K):
      Y[k+1]=Y[k+1].T
      
  for k in range(K):
      Centroids[:,k]=np.mean(Y[k+1],axis=0)
  Output = Y

In [135]:
cluster_values = sorted([len(Output[i+1]) for i in range(K)])
print(cluster_values)

total_entries = sum(cluster_values)
print(total_entries)

[49, 54, 56, 64, 72, 75, 78, 79, 88, 91, 91, 93, 97, 116, 117, 120, 123, 129, 131, 158]
1881